html, body {
    margin: 0;
    height: 100%;
}
body {
    background: linear-gradient(to right, #243B55, #141E30);
    color: #e9ece5;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: gold;
}
ul{
    list-style-type:none;
}
p{
    font-size: 12px;
}
#head_container {
    position: relative;
}
#head_content {
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
    border: 1px solid #e9ece5;
    text-align: center;
}
#body_container{
}
#body_content{
    overflow: auto;
    padding: 25px;
    margin: 15px;
    border: 1px solid #e9ece5;
}
#product_container{
    float: left;
    width: 300px;
    border: 2px dotted #e9ece5;
    padding-left: 10px;
    padding-right: 10px;
}
#product_list{
    padding: 5px;
    margin: 10px;
}
#shopping_cart{
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    float: right;
    border: 2px dotted #e9ece5;
}
#selection_list{
}
#footer_container{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
#footer_content{
    padding: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 15px;
    border: 1px solid #e9ece5;
    text-align: center;
}
#login_container{
    position: absolute;
    width: 214px;
    right: 30px;
    height: 60px;
    float: right;
    padding: 10px;
    padding-top: 0px;
    top: 15px;
    border: 1px solid #e9ece5;
}
#login_right {
    position: absolute;
    left: 170px;
    top: 15px;
}
#login_left {
    position: absolute;
    float: left;
    top: 15px;
}
.jq_link{
    text-decoration: underline;
    display: inline-block;
    color: gold;
}
