html, body {
    margin: 0;
    height: 100%;
    -webkit-appearance: none;
    overflow: scroll;
    font-size: 16px;
    min-height: 600px;
    min-width: 1000px;
}
body {
    background-color: white;
    color: #2f313e;
    font-family: 'PT Serif', serif;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
a {
    text-decoration: none;
    color: #fff;
}
h3{
    margin: 5px;
}
h1{
    font-size: 30px;
    color: #2f313e;
}
ul{
    list-style-type:none;
}
p{
    font-size: 12px;
}
.button{
    background-color: #2f313e;
}
#head_container {
    position: relative;
    overflow: hidden;
}
#head_content {
    padding-left:15px;
    position: absolute;
    text-align: center;
    z-index: 50;
}
#body_container{
}
#body_content{
    overflow: scroll;
    color: #2f313e;
	position: relative;
	min-height: 600px;
}
#product_container{
	position: absolute;
    float: left;
    left: 0px;
	min-width: 400px;
    min-height: 400px;
	right: 280px;
    overflow: scroll;
}
.product{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    background-color: #fff;
    width: 300px;
    position: relative;
    padding: 20px;
	top: 0px;
    text-align: center;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.product input{
   border-radius: 5px; 
    height: 30px;

}
.product input[type=submit]:hover{
   cursor: pointer; 
   border: 1px solid #00c4ff;
   background-color: #00c4ff;
}
.product input[type=submit]{
    position: relative;
    height: 34px;
    border: 1px solid #2f313e;
    margin-left: 20px;
    width: auto;
}
.product input[type=text]{
    background-color: white;
    border: 1px solid #2f313e;
    color: #2f313e;
    text-align: center;
    width: 30px;
}
#shopping_cart{
	position: fixed;
    background-color: #fff;
    color: #2f313e;
    padding: 20px;
	right: 0px;
    margin: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
	overflow: hidden;
}
#selection_list{
}
#footer_container{
    position: fixed;
    background-color: #fff;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0px;
    border-top: 1px dashed #2f313e;
}
#footer_content{
    position: relative;
    top: 0px;
    left: 0px;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}
.footer_el{
    position: relative;
    float: right;
    top: -3px;
    color: #2f313e;
    padding-right: 20px;
}
#nav{
    position: relative;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
    z-index: 42;
    border-bottom: 1px solid #2f313e;
}
.nav_stuff{
    position: relative;
    float: left;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: none;
}
.form_signin{
    float: left;
}
#nav_content{
    position: relative;
    right: 15px;
    float: right;
    top: 0px;
    padding: 10px;
    right: 0px;
}
#login_mail{
    position: relative;
    float: left;
}
#login_pass{
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
#login_bt{
    position: relative;
    float: left;
}
.form-signin{
    position: relative;
    width: 100%;
}
#login_bt input{
}
input{
    color: white;
    background-color: #2f313e;
    border: 1px solid #2f313e;
    border-radius: 5px;
    font-family: 'PT Serif', serif;
    font-size: 16px;
    width: 120px;
}
#switch_lang{
    text-decoration: underline;
}
input:focus{
    color: #00c4ff;
    outline: none;
}
input:active{
}
.jq_link{
    display: inline-block;
    color: #2f313e;
    text-decoration: underline #2f313e;
}
.jq_link:hover{
    cursor: pointer;
}
#register{
    cursor: pointer;
    position: relative;
}
#register:hover{
    cursor: pointer;
}
#register_container{
    position: relative;
    width: 420px;
    padding: 20px;
    margin: 0 auto;
}
#register_container input{
    border-radius: 0px;
    padding: 4px;
    height: 40px;
    border-bottom: 3px solid white;
    background-color: #2f313e;
    width: 300px;
}
.btn_register{
    height: 52px;
    color: #2f313e;
    font-size: 16px;
    background-color: #ffffff;
    text-align: left;
    padding: 2px;
    width: 310px;
    border: 1px solid #2f313e;
    border-radius: 5px;
    text-align: center;
}
.btn_register:hover{
    color: white;
    border-color: #00c4ff;
    background-color: #00c4ff;
    cursor: pointer;
}
#home{
    position: relative;
    right: -20px;
}
#userpage{
    display: inline-block;
}
#user_content{
    color: #2f313e;
    margin: 20px;
}
.w700{
    font-weight: 700;
    font-style: italic;
}
#login{
    font-family: 'PT Serif', serif;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #2f313e;
    color: #2f313e;
    border-radius: 5px;
    height:39px;
    font-size: 14px;
    font-weight: 500;
}
#login:hover{
    color: #fff;
    cursor: pointer;
    background-color: #00c4ff;
    border: 1px solid #fff;

}
#home:hover{
    cursor: pointer;
}
#userpage:hover{
    cursor: pointer;
}
#userpage_dropdown{
    z-index: 60;
    background-color: black;
    overflow: hidden;
}
.hoverc{
    color: #fff;
}
::placeholder {
    color: #fff;
    opacity: 1;
}
#product_selector{
    position: relative;
    width: 300px;
    margin: 0px auto;
    margin-top: 20px;
}
