html, body {
    margin: 0;
    height: 100%;
    -webkit-appearance: none;
    overflow: hidden;
    font-size: 16px;
}
body {
    background-color: white;
    color: #283655;
    font-family: 'PT Sans', sans-serif;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
a {
    text-decoration: none;
    color: #d0e1f9;
}
h1{
    font-size: 30px;
    color: #d0e1f9;
}
ul{
    list-style-type:none;
}
p{
    font-size: 12px;
}
.button{
    background-color: black;
}
#head_container {
    position: relative;
    overflow: hidden;
}
#head_content {
    padding-left:15px;
    position: absolute;
    text-align: center;
    z-index: 50;
}
#body_container{
}
#body_content{
    overflow: auto;
    margin: 15px;
    color: #283655;
}
#product_container{
    float: left;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
#product_list{
    padding: 5px;
    margin: 10px;
}
#shopping_cart{
    border-radius: 15px;
    background-color: #283655;
    color: #d0e1f9;
    padding: 20px;
    float: right;
}
#selection_list{
}
#footer_container{
    position: absolute;
    background-color: #283655;
    bottom: 0px;
    color: white;
    width: 100%;
    margin-bottom: 0px;
}
#footer_content{
    padding: 5px;
    text-align: center;
    font-size: 10px;
}
#nav{
    position: relative;
    background-color: #1e1f26;
    padding: 10px;
    overflow: hidden;
    z-index: 42;
    border-bottom: 3px solid #f70025;
}
.nav_stuff{
    position: relative;
    float: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: none;
}
.form_signin{
    float: left;
}
#nav_content{
    position: relative;
    right: 15px;
    float: right;
    top: 0px;
    padding: 10px;
    right: 0px;
}
#login_mail{
    position: relative;
    float: left;
}
#login_pass{
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
#login_bt{
    position: relative;
    float: left;
}
#login_bt input{
    background: #283655;
}
input{
    box-sizing: border-box;
    color: white;
    background-color: #283655;
    border: none;
    border-radius: 11px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
input:focus{
    background-color: white;
    color: #283655;
    outline: none;
}
input:active{
    background-color: black;
}
.jq_link{
    display: inline-block;
    color: #d0e1f9;
}
#register{
    cursor: pointer;
    position: relative;
}
#register:hover{
    cursor: pointer;
    color: #00c4ff !important;
}
#home{
    position: relative;
    right: -20px;
}
#userpage{
    display: inline-block;
}
#user_content{
    color: #283655;
}
.w700{
    font-weight: 700;
    font-style: italic;
}
#login{
    cursor: pointer;
    background-color: #283655;;
    border: 1px solid #d0e1f9;
    color: #d0e1f9;
    border-radius: 11px;
    height:39px;
    font-weight: 500;
}
#login:hover{
    color: #d0e1f9;
    cursor: pointer;
    border: 1px solid #00c4ff;
}
#home:hover{
    cursor: pointer;
    color: #00c4ff !important;
}
#userpage:hover{
    cursor: pointer;
    color: #00c4ff !important;
}
.hoverc{
    color: #d0e1f9;
}
::placeholder {
    color: #d0e1f9;
    opacity: 1;
}
